<div class='publication-item'>
  <div class='publication-item'>
    <div>
      <img class='profilePicture' src='{{publication.creator.picture}}' alt='' />
      <strong>{{publication.creator.name}}</strong>
      <p>{{publication.message}}</p>
      {{#if publication.picture}} <img src='{{publication.picture}}' /> {{/if}}
      <small>{{publication.createdAt}}</small>
    </div>
  </div>
</div>

<a href='/meow/{{publication._id}}/edit'>Edit Meow</a>
<form method='POST' action='/meow/{{publication._id}}/delete'>
  <button>Delete Meow</button>
</form>