<div class='publication-item'>
  <div class='publication-item'>
    <div>
      <a href='/profile/{{publication.creator._id}}'>
        <img class='profilePicture' src='{{publication.creator.picture}}' alt='' />
        <strong>{{publication.creator.name}}</strong>
      </a>
      <p>{{publication.message}}</p>
      {{#if publication.picture}} <img src='{{publication.picture}}' /> {{/if}}
      <small>{{publication.createdAt}}</small>
    </div>
  </div>
</div>

{{#if isOwner}}
  <a href='/meow/{{publication._id}}/edit'>Edit Meow</a>
  <form method='POST' action='/meow/{{publication._id}}/delete'>
    <button>Delete Meow</button>
  </form>
{{/if}}